body{
	background-color: rgba(247, 79, 157, 0.42);
}
nav{
	margin-left: 318px;
    margin-top: 35px;
    margin-bottom: 20px;
}
a{
	text-decoration: none;
	color: #8e0c22;
	margin-left: 55px;
    font-size: 30px;
}
a:hover {
 color: rgba(244, 19, 57, 0.6); 
}
.back{
	background-image: url(../images/gatos.jpg);
	width: 101%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.back1{
	font-size: 43px;
    color: #ed2849;
    padding-top: 395px;
}
.back2{
	font-size: 22px;
    color: #490c16;
}
.bio{
	background-image: url(../images/fondo2.png);
	width: 100%;
	height: 691px;
	background-repeat: repeat;
	background-size: 100px;
}
.about{
	font-size: 50px;
    color: #8e0c22;
    margin-top: 68px;
}
.perfil{
	width: 100%;
	height: 250px;
	margin-top: 6%;
}
.perfil2{
	background-color: #ed506a;
	width: 70%;
    height: 450px;
    margin-top: 2%;
}
.perfil3{
	color: #8e0c22;
}
.oda{
	margin-top: 21px;
}
.favourite{
	height: 480px;
}
.favo{
	color: #8e0c22;
	font-size: 45px; 
	margin-top: 39px;
}
.favo2{
	color: #8e0c22;
	font-size: 40px;
	margin-bottom: 49px;
}
.gatito{
	width: 200px;
    height: 200px;
    margin-left: 11px;
    float: left;
    border: 4px dashed #d11235;
    border-radius: 50%;
}
.fondo-contact{
	background-image: url(../images/fondo1.png);
	background-size: 15px;
	height: 400px;
	
}
.contact{
	font-size: 50px;
    color: #8e0c22;
    margin-top: 40px;
    margin-bottom: 33px;
}
.contact1{
	width: 200px;
	height: 200px;
	border: 1px solid #8e0c22;
	border-radius: 50%;
}
